@page
@{
    Layout = "/Pages/Shared/_Layout-loggedin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="Delano Koster" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>MOLL | find the service you want!</title>
    <link href="~/Content/css/style_index.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/uikit.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="~/Content/css/bootstrap-custom.css" rel="stylesheet" />
</head>
<body>
    <div id="menu_underheader">
        <h1>Most recent services</h1>
    </div>
    <div id="underheader">

        <table>
            <tbody>
                <tr>
                    <td><p>Order by</p></td>
                    <td>
                        <form id="filterbar" method="get" action="/search" id="filter">
                            <input name="q" type="text" size="40" placeholder="Best Selling" />
                        </form>
                    </td>
                    <td><img src="~/images/img_grid.png" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ========================= SECTION CONTENT ========================= -->

    <section class="section-content bg padding-y-sm">
        <div class="container">
            <div class="row-sm">
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" asp-append-version="true" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-3 col-sm-6">
                    <figure class="card card-product">
                        <div class="img-wrap"> <p>The Name of the Service</p><img src="~/images/Block.png" /></div>
                        <figcaption class="info-wrap">
                            <div class="price-wrap">
                                <span class="serviceprice">€65,00</span>
                                <span class="servicestar"><img src="~/images/tile_star.png" />4</span>
                                <span class="sold"><img src="~/images/tile_sold.png" />4</span>
                                <span class="like"><img src="~/images/tile_like.png" />4</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>